form{
    background-color: #DFDFFE;
}
.title{
    border-top: 2px solid #D8D8D8;
    border-left: 2px solid #D8D8D8;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    width: 10%;
    text-align: center;
    padding: 5px;

}