.title{
    font-family: 'Nova Mono', monospace;
    font-size: 3.5em;
    text-align: center;
}
p{
    font-family: 'PT Sans', sans-serif;
    font-weight:bold;
    font-size: large;
}

body{
    color: white;
    
    
    font-family: 'Comfortaa', cursive;
    background-image:url("myimages/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    background-size: cover;

}



